
@font-face {
	font-family: "NauSea";
	src: url("fonts/NauSea.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}

button {
  padding: 5px;
  background-color: #F48FB1;
  color: white;

  border: 1px solid #5a6268;
  border-radius: 5px;
}

input {
  padding: 5px;
  width: 100%;

  border: 1px solid #5a6268;
  border-radius: 5px 5px 0 0;
}

button:hover {
  background-color: #5a6268;
  cursor: pointer;
}

.flex-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: black;
}

.header h1 {
  margin: 0;
  color: #F48FB1;
	font-family: "NauSea", Arial, sans;
	font-size: 8em;
  text-shadow: 0px 0px 15px #00c9bc;
}

.header p {
  margin: 0;
  color: white;
  font-family: "NauSea", Arial, sans;
}

.main {
  margin-top: 1rem;
}

.search-bar {
  padding: 0.5rem;
}

.song-display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: space-between;

  padding: 0.5rem;
  width: 100%;
}

.song {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  padding: 0.5rem;
  border: 1px solid #5a6268;
  width: 100%;
}

.song:hover {
  background-color: #aab0b5;
  cursor: pointer;
}

.song div {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  border-left: 1px solid #5a6268;
}

.song p {
  padding: 0;
  margin: 0;
}